slc6-gcc7-Geant10.2:
  tags:
    - docker
  image: clicdp/slc6-base
  script:
    - export COMPILER_TYPE="gcc"
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON  -D Geant4_DIR=$G4INSTALL/lib64/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja ..
    - ninja
    - ninja install
    - ctest --output-on-failure

slc6-llvm40-Geant10.2:
  tags:
    - docker
  image: clicdp/slc6-base
  script:
    - export COMPILER_TYPE="llvm"
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON -D Geant4_DIR=$G4INSTALL/lib64/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja ..
    - ninja
    - ninja install
    - ctest --output-on-failure

slc6-gcc7-Geant10.2-XERCESC:
  tags:
    - docker
  image: clicdp/slc6-base
  script:
    - export COMPILER_TYPE="gcc"
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON -D Geant4_DIR=$G4INSTALL/lib64/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DDD4HEP_USE_XERCESC=ON -DXERCESC_ROOT_DIR=${XercesC_HOME} -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja -DXERCESC_ROOT_DIR=${XercesC_HOME} ..
    - ninja
    - ninja install
    - ctest --output-on-failure

centos7-gcc7-Geant10.2:
  tags:
    - docker
  image: clicdp/cc7-base
  script:
    - export COMPILER_TYPE="gcc"
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON -D Geant4_DIR=$G4INSTALL/lib64/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja ..
    - ninja
    - ninja install
    - ctest --output-on-failure


centos7-llvm40-Geant10.2:
  tags:
    - docker
  image: clicdp/slc6-base
  script:
    - export COMPILER_TYPE="llvm"
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON -D Geant4_DIR=$G4INSTALL/lib64/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja ..
    - ninja
    - ninja install
    - ctest --output-on-failure

mac1012-clang80:
  tags:
    - mac
  script:
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON -D Geant4_DIR=$G4INSTALL/lib/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja ..
    - ninja
    - ninja install
    - ctest --output-on-failure

mac1012-clang80-XERCESC:
  tags:
    - mac
  script:
    - source .dd4hep-ci.d/init_x86_64.sh
    - mkdir build
    - cd build
    - cmake -GNinja -D DD4HEP_USE_GEANT4=ON -D DD4HEP_USE_BOOST=ON -DBoost_NO_BOOST_CMAKE=ON -D DD4HEP_USE_LCIO=ON -D BUILD_TESTING=ON -D Geant4_DIR=$G4INSTALL/lib/Geant4-10.2.3 -D DD4HEP_USE_CXX11=ON -DCMAKE_BUILD_TYPE=Release -DDD4HEP_USE_XERCESC=ON -DXERCESC_ROOT_DIR=${XercesC_HOME} -DROOT_DIR=$ROOTSYS ..
    - ninja
    - ninja install
    - . ../bin/thisdd4hep.sh
    - ctest --output-on-failure -j4
    - cd ../examples/
    - mkdir build
    - cd build
    - cmake -GNinja -DXERCESC_ROOT_DIR=${XercesC_HOME} ..
    - ninja
    - ninja install
    - ctest --output-on-failure
