name: linux

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on: [push, pull_request]

jobs:

  default:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["LCG_106/x86_64-el9-gcc13-opt",
              "LCG_107a/x86_64-el9-gcc13-opt",
              "dev4/x86_64-el9-gcc13-opt",
              "dev4/x86_64-ubuntu2404-gcc13-opt",
              "dev3/x86_64-el9-gcc13-opt",
              "dev3/x86_64-el9-clang19-opt",
              "dev3/x86_64-el9-gcc15-dbg"]
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: aidasoft/run-lcg-view@v5
      with:
        release-platform: ${{ matrix.LCG }}
        ccache-key: ccache-${{ matrix.LCG }}
        run: |
          if [[ ${{ matrix.LCG }} =~ clang16 ]]; then
            source /cvmfs/sft.cern.ch/lcg/contrib/clang/16/x86_64-el9/setup-wrapper.sh
          fi
          mkdir build
          cd build
          unset CPATH
          echo "::group::CMakeConfig"
          # Common CMake options
          source ../.github/scripts/common_cmake_opts.sh
          if [[ ${{ matrix.LCG }} =~ gcc13|clang19 ]]; then
            echo "::group::CMakeConfig C++20"
            cmake $COMMON_CMAKE_OPTS -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_STANDARD=20 ..
          elif [[ ${{ matrix.LCG }} =~ gcc15 ]]; then
            echo "::group::CMakeConfig C++23"
            cmake $COMMON_CMAKE_OPTS -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_STANDARD=23 ..
          else
            echo "::group::CMakeConfig C++17"
            cmake $COMMON_CMAKE_OPTS -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_STANDARD=17 ..
          fi
          if [[ ${{ matrix.LCG }} =~ dev3 ]]; then
            echo "::group::CMakeConfig 2"
            cmake -DDD4HEP_HEPMC3_COMPRESSION_SUPPORT=ON ..
          fi
          # Make sure DD4hep can be built with an older version of EDM4hep, 0.10.5 for LCG_106
          if [[ ${{ matrix.LCG }} =~ 106 ]]; then
            echo "::group::CMakeConfig Enable EDM4hep"
            cmake -DDD4HEP_USE_EDM4HEP=ON ..
          fi
          echo "::group::Compile"
          ninja install
          . ../bin/thisdd4hep.sh
          echo "::group::Test"
          ctest --output-on-failure -j4 --output-junit TestResults_1.xml
          echo "::group::CMakeExamples"
          cd ../examples/
          mkdir build
          cd build
          source ../../.github/scripts/common_cmake_opts.sh
          if [[ ${{ matrix.LCG }} =~ gcc13|clang16 ]]; then
            cmake $COMMON_EXAMPLES_CMAKE_OPTS -DCMAKE_CXX_STANDARD=20 ..
          else
            cmake $COMMON_EXAMPLES_CMAKE_OPTS -DCMAKE_CXX_STANDARD=17 ..
          fi
          echo "::group::CompileExamples"
          ninja install
          echo "::group::TestExamples"
          ctest --output-on-failure -j2 --output-junit TestResults_2.xml
    - name: Prepare Artifact Name
      if: success() || failure()
      run: |
          artifact_name="${{ matrix.LCG }}"
          artifact_name=$(echo -n "${artifact_name}" | sed -e 's@/@@g')
          echo "ARTIFACT_NAME=${artifact_name}" >> $GITHUB_ENV
    - name: Upload test results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: Test Results ${{ env.ARTIFACT_NAME }}
        path: |
           /home/runner/work/DD4hep/DD4hep/build/TestResults_1.xml
           /home/runner/work/DD4hep/DD4hep/examples/build/TestResults_2.xml


  key4hep:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        view-path: ["/cvmfs/sw-nightlies.hsf.org/key4hep/"]
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: aidasoft/run-lcg-view@v5
      with:
        container: el9
        ccache-key: ccache-key4hep-el9
        view-path: ${{ matrix.view-path }}
        run: |
          mkdir build
          cd build
          unset CPATH
          echo "::group::CMakeConfig"
          source ../.github/scripts/common_cmake_opts.sh
          cmake $COMMON_CMAKE_OPTS \
            -D CMAKE_INSTALL_LIBDIR=lib \
            -DDD4HEP_USE_EDM4HEP=ON \
            -DDD4HEP_USE_TBB=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_STANDARD=20 ..
          echo "::group::Compile"
          ninja install
          . ../bin/thisdd4hep.sh
          echo "::group::Test"
          ctest --output-on-failure -j4 --output-junit TestResults_1.xml
          echo "::group::CMakeExamples"
          cd ../examples/
          mkdir build
          cd build
          source ../../.github/scripts/common_cmake_opts.sh
          cmake $COMMON_EXAMPLES_CMAKE_OPTS -D CMAKE_INSTALL_LIBDIR=lib -DCMAKE_CXX_STANDARD=20 ..
          echo "::group::CompileExamples"
          ninja install
          echo "::group::TestExamples"
          ctest --output-on-failure -j2 --output-junit TestResults_2.xml
    - name: Prepare Artifact Name
      if: success() || failure()
      run: |
          artifact_name="${{ matrix.view-path }}"
          artifact_name=$(echo -n "${artifact_name}" | sed -e 's@/@@g')
          echo "ARTIFACT_NAME=${artifact_name}" >> $GITHUB_ENV
    - name: Upload test results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: Test Results ${{ env.ARTIFACT_NAME }}
        path: |
           /home/runner/work/DD4hep/DD4hep/build/TestResults_1.xml
           /home/runner/work/DD4hep/DD4hep/examples/build/TestResults_2.xml

  non-shared:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["LCG_107a/x86_64-el9-gcc13-opt"]
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: aidasoft/run-lcg-view@v5
      with:
        release-platform: ${{ matrix.LCG }}
        ccache-key: ccache-non-shared-${{ matrix.LCG }}
        run: |
          mkdir build
          cd build
          unset CPATH
          echo "::group::CMakeConfig"
          source ../.github/scripts/common_cmake_opts.sh
          cmake $COMMON_CMAKE_OPTS \
            -DBUILD_SHARED_LIBS=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_STANDARD=20 ..
          echo "::group::Compile"
          ninja

  g4units:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["dev3/x86_64-el9-gcc13-opt"]
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: aidasoft/run-lcg-view@v5
      with:
        release-platform: ${{ matrix.LCG }}
        ccache-key: ccache-g4units-${{ matrix.LCG }}
        run: |
          mkdir build
          cd build
          unset CPATH
          echo "::group::CMakeConfig"
          source ../.github/scripts/common_cmake_opts.sh
          cmake $COMMON_CMAKE_OPTS \
            -DDD4HEP_USE_GEANT4_UNITS=ON \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_STANDARD=20 ..
          echo "::group::Compile"
          ninja install
          . ../bin/thisdd4hep.sh
          echo "::group::Test"
          ctest --output-on-failure -j4 --output-junit TestResults_1.xml
          echo "::group::CMakeExamples"
          cd ../examples/
          mkdir build
          cd build
          source ../../.github/scripts/common_cmake_opts.sh
          cmake $COMMON_EXAMPLES_CMAKE_OPTS -DCMAKE_CXX_STANDARD=20 ..
          echo "::group::CompileExamples"
          ninja install
          echo "::group::TestExamples"
          ctest --output-on-failure -j2 --output-junit TestResults_2.xml
    - name: Prepare Artifact Name
      if: success() || failure()
      run: |
          artifact_name="${{ matrix.LCG }}"
          artifact_name=$(echo -n "${artifact_name}" | sed -e 's@/@@g')
          echo "ARTIFACT_NAME=${artifact_name}" >> $GITHUB_ENV
    - name: Upload test results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: Test Results ${{ env.ARTIFACT_NAME }} (g4units)
        path: |
           /home/runner/work/DD4hep/DD4hep/build/TestResults_1.xml
           /home/runner/work/DD4hep/DD4hep/examples/build/TestResults_2.xml

  event_file:
    if: github.repository_owner == 'aidasoft' || github.event_name == 'pull_request'
    name: "Upload Event Payload"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}
